.footer{
    background-color: var(--blocks-color);
    padding: 10px 0;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer__text{
    width: 100%;
    font-size: var(--fz-small);
}

.footer__link{
    width: 24px;
    height: 24px;
}

.footer__github{
    width: 24px;
    height: 24px;
    transition: .3s;
}

.footer__github:hover{
    color: rgb(193, 226, 255);
    transition: .3s;
}